<div id="footer">
	<p>@Html.ActionLink("Return Home", "Index", "Home")</p>
	<p>@Html.ActionLink("See Categories", "Index", "Categories")</p>
	<p>@Html.ActionLink("See Recipes", "Index", "Recipes")</p>
</div>